/* ———————————————————— FONTS  —————————————————————————————————————————————— */


@font-face {
  font-family: Brut;
  src: url(fonts/Brut_Grotesque-Text.woff);
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: Apoc;
  src: url(fonts/ATApocLight.woff);
  font-weight: normal;
  font-style: normal;
  }
/* ———————————————————— BASIC ELEMENTS CSS STYLING  —————————————————————————————————————————————— */

html {
  font-family: 'Brut';
  width: 100%;
  height: 100%;
  }
body {
  background: rgba(255,214,0);
  }

  #instructions{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    
  }
  #instructions h5{
    color: rgb(253, 214, 2);
  }

.container {
  font-family: 'Brut';
  max-width: 100%;
  position: absolute;
  z-index: 2;
  }
.container h3{
  color: rgb(79, 76, 76);

}
/* ————  UNUSED TITLE TO ACTIVATE WITH H5 —————————— */

.h1, h1 {
  font-family: 'Apoc';
  letter-spacing: -0.5px;  
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  color: black;
  font-weight: normal;
  font-style: normal;
  }

/* ———— LOCATION —————————— */


.h2, h2 {
  font-family: 'Brut';
  width: 100%;
  padding: 1px;
  margin: 0px;
  color: black;
  text-align: center;
  white-space: nowrap;
  font-size: 0.6em;
  }

/* ———— DATE / HOURS —————————— */

.h3, h3 {
  font-family: 'Brut';
  width: 100%;
  padding: 1px;
  margin: 0px;
  color: black;
  text-align: center;
  white-space: nowrap;
  font-size: 0.6em;
  }


/* ———— UNUSED TITLE TO ACTIVATE WITH H1 —————————— */


.h4, h4 {
  font-family: 'Brut';
  letter-spacing: -0.5px;  
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: right;
  color: black;
  font-weight: normal;
  font-style: normal;
  }

/* ———— CURRENT TITLE —————————— */


.h5, h5 {
  font-family: 'Apoc';
  letter-spacing: 0px;  
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  color: black;
  font-weight: normal;
  font-style: normal;

  /* margin-top: 3vw */
  }

/* ———— UNUSED ALTERNATIVE TITLE  —————————— */

.flex-container {
  display: flex;
  }
.flex-container > h1 {
  text-align: left;
  margin: 10px;
  padding: 10px;
  width: 50%;
  }
.flex-container > h4 {
  text-align: right;
  margin: 10px;
  padding: 10px;
  width: 50%;
  }

/* ———————————————————— GRID  —————————————————————————————————————————————— */

.grid {
  font-family: 'Brut';
  height: 100px;
  width: 100%;
  }

/* ———————————————————— GRID ITEM FOR ALL LOCATIONS/EVENTS BOX —————————————————————————————————————————————— */

  .grid-item {  
    font-family: 'Apoc';
    border-radius: 20px 20px 20px 20px;
    width: 33%;
    background-color: rgb(253, 214, 2);
    border-width: thick;
    box-shadow: rgba(230, 178, 0, 0.58) 0px 0px 11px 0px;
    padding: 5px;
    margin: 1px;
    color: black;
    stroke: black;
    text-align: center;
    white-space: nowrap;
    font-size: 1em;
    transition-timing-function: ease-in-out;
  }
  /* .grid-item:hover {
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(230, 178, 0, 0.75) 0px 0px 11px 0px;
    color: black;
    background-color: rgb(253, 224, 5);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;        
    transition-delay: 0s;
  } */

  /* .leafletPopup, .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  width: 200px;
  background-color: rgb(253, 224, 5);
  color: black;
} */

.todo .leaflet-popup-tip{
  background-color: black;
}

.todo  .leaflet-popup-content-wrapper{
  background-color: black;
}

.todo .leaflet-popup-content-wrapper h1{
  color: rgb(253, 214, 2);
}

.todo .leaflet-popup-content-wrapper button{
  background-color: rgb(253, 214, 2);
  /* border: red; */
  color: black;
}

#map h1{
  font-family: 'Brut';
  font-size: 15px;
}

#map h2{
  font-family: 'Apoc';
  font-style: italic;
  font-size: 15px;

}

.done .leaflet-popup-tip{
  background-color: white;
}

.done  .leaflet-popup-content-wrapper{
  background-color: white;
  color: #E52620 
}

.done  .leaflet-popup-content-wrapper h1{
  /* background-color: white; */
  color: #E52620 
}

/* ———————————————————— BTN FOR ALL CATEOGORIES —————————————————————————————————————————————— */

 .btn-success {
    font-family: 'Brut';
    border-color: black;
    border-radius: 10px 10px 10px 10px;
    max-width: 50%;
    background-color: black;
    stroke-width: 0px;
    padding: 5px;
    margin: 1px;
    color: white;
    text-align: center; 
  }
/* .btn-success:hover {
    font-family: 'Brut';
    border-color: black;
    border-radius: 15px 15px  15px 15px;
    stroke-width: 0px;
    color: black;
    background-color: rgb(255,224,0);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
  } */
.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show > .btn-success.dropdown-toggle {   
    font-family: 'Brut';
    color: black;
    border-color: rgb(255,224,0);
    border-radius: 15px 15px  15px 15px;
    stroke-width: 1px;
    background-color: rgb(255,224,0);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    box-shadow: 0px 0px 11px 3px rgba(230,178,0,0.58);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(230,178,0,0.58);
    -moz-box-shadow: 0px 0px 11px 3px rgba(230,178,0,0.58);      
  }

  .btn-marker{
    min-width: 100px;
    max-width: 100px;
    /* width: 1000px */
  }

  #map{
    width: 100vw;
     height: 100vh;
    will-change: transform;
    /* display: none; */
    position: fixed;
    z-index: 10;
    top: 0;
    border: solid 8px black;
    box-shadow: 0 0 0 8px black;
    border-radius: 20px;
  }





  #buttons{
    font-size: 16px;
    margin-top: 2vw;
    padding: 0 2vw;
    font-family: 'Brut';
    width: 100%;
    /* position: absolute; */
    /* z-index: 10; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding-bottom: 10vw; */
  }

  .toggleButtonsStyle{
    color: rgb(253, 214, 2);
    background-color: black;
  }

  #pathcreator{
      position: relative;
  }


  #reader{
      position: fixed;
      display: none;
      z-index: 10;
      background-color: rgba(255,255,255,0.75);
      box-shadow: 0 0 0 8px black;
      border-radius: 20px;
      border: solid 2px black;
      
      width: 100%;
      height: 8%;
      bottom: 23%;

  }

  #reader #file-upload-button button{
    /* height: 300px; */
  }


  #qr-input-file{
      width: 60%;
    margin: auto;
  }


  #showPic{
    bottom: 0;
    width: 96%; 
    margin: auto 2% 2% 2%;
    height: 20%;
    position: fixed;
    z-index: 200;
    display: none;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 0 8px black;
    border-radius: 20px;
    overflow-y:scroll;

}

#showPicContent{
  margin-top: 10px;

}

#showPic p{
  font-family: 'Apoc';
  font-style: italic;
  color: black;
  /* text-shadow: yellow 2px 3px; */
  /* border: solid red 1px; */
  width: 80%;
  font-size: 15px;
  line-height: 15px;
  margin: auto;
  padding: 2px;
  z-index: 3; 
  position: relative;
}

#end{
  width: 100%;
  height: 100%;
  z-index: 400;
  position: fixed;
  background: black;
  display: none;
  top: 0;
  font-family: 'Apoc';
}

#end p{
  font-size: 20px;
  color: white;
  width: 80%;
  margin: auto;
  z-index: 3; 
}

#endContent{
  margin-top: 5%;
  height: 90%;
}

#end button{
  background-color: black;
  color: rgb(253, 214, 2);
  width: 100%;
  height: 5%;
  bottom: 0;
}


#showCurrentQR{
  background-color:rgb(253, 214, 2);
  color: black;
  position: fixed;
  z-index: 10000;
  display: none;
}

#info{
  display: none;
}

#instru{
  display: none;
}

.popup{
  font-family: 'Brut';
  width: 100%;
  min-height: 100%;
  top: 0;
  background-color: black;
  color:rgb(253, 214, 2);
  padding: 10px;
  position: absolute;
  z-index: 999;
}

.popup h1{
  color:rgb(253, 214, 2);
  font-size: 7vw;
}

.popup a{
  color: white;
}

.arrowBack{
  font-family: 'Brut';
  font-size: 20px;
}

div.filter{
  text-align: center;
}

.selectedPlace{
  background-color: #E52620;
}

 #mappa{
  background: black;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 7px;
}

#qr{
  background: black;
  padding: auto;
  border-radius: 7px;
} 




.leaflet-top.leaflet-left a:nth-child(1){
  background: black;
  color: rgb(253,214,2);
  border-top-left-radius:7px;
  border-top-right-radius:7px
}

.leaflet-top.leaflet-left a:nth-child(2){
  background: black;
  color: rgb(253,214,2);
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px
}



button.swal2-confirm.swal2-styled{
  color: white;
  background-color: rgb(253, 214, 2);
}

.swal2-popup.swal2-modal.swal2-show{
  background: black;
}

#swal2-html-container{
  color:white
}
#swal2-title{
  color: rgb(253, 214, 2)
  
}

.leaflet-bottom.leaflet-right{
  top: 0;
}

/* ———————————————————— MEDIA QUERIES MAX 630 PX —————————————————————————————————————————————— */


@media only screen and (max-width : 630px){

  .h1, h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
 .h2, h2 {
    width: 100%;
    padding: 1px;
    margin: 0px;
    color: black;
    text-align: center;
    white-space: nowrap;
    font-size: 0.6em;
  }
  .h3, h3 {
    width: 100%;
    padding: 1px;
    margin: 0px;
    text-align: center;
    color: rgb(253 214 2);
    white-space: nowrap;
    font-size: 0.6em;
  }
  .grid {
    height: 100px;
    width: 100%;
  }

  .grid-item {
    border-radius: 10px 10px 0px 0px;
    width: 49%;
    padding: 1px;
    margin: 1px;
    text-align: center;
    white-space: nowrap;
    font-size: 1em;
  }
/* 
  .grid-item:hover {
    padding-right: 100px;

  } */
}

/* ———————————————————— MEDIA QUERIES - MAX 400 PX—————————————————————————————————————————————— */


@media only screen and (max-width : 400px){


 .h1, h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  }

 .h2, h2 {
    width: 100%;
    padding: 1px;
    margin: 0px;
    color: black;
    text-align: center;
    white-space: nowrap;
    font-size: 0.6em;
  }

  .h3, h3 {
    width: 100%;
    padding: 1px;
    margin: 0px;
    color: rgb(253,214,2);
    text-align: center;
    white-space: nowrap;
    font-size: 0.6em;
  }

  .grid {
    height: 100px;
    width: 100%;
    padding-top: 10px;
  }

  .grid-item {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 1px;
    margin: 1px;
    text-align: center;
    white-space: nowrap;
    font-size: 1em;
  }

  /* .grid-item:hover {
    padding-right: 400px;
  } */


}
